{% extends 'blog/base.html' %}

{% block content %}
    <section class="section">
        <h2>{{ object.subject }}</h2>
        <p>created: <small>{{ object.date|date:"j, M Y"}}</small></p>
        <p>{{ object.info }}</p>
        <div>
            <button type="submit"><a href="{% url 'update' object.id %}">update</a></button>
            <button type="submit"><a href="{% url 'delete' object.id %}">delete</a></button>
        </div>
        <aside>
            <details>
                <summary>more posts@:</summary>
                <p>{{ object.person }}</p>
            </details>
        </aside>
    </section>
{% endblock content %}