{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Sign In</legend>
            {{ form.as_p }}
            <div>
                <button type="submit">submit</button>
            </div>
        </fieldset>
        <p>already have an acc? <a href="{% url 'register' %}">sign up</a></p>
        <small>forgot your password <a href="{% url 'password_reset' %}">set new</a></small>
    </form>
{% endblock content %}